# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Introdução à Programação Orientada a Objetos</font>

In [2]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.7

# Objetos

Em Python, Tudo é Objeto!

In [4]:
# Criando um Lista
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [5]:
# A Lista lst_num é um objeto, uma instância da classe lista em Python
type (lst_num)

list

In [6]:
print(type([]))

<class 'list'>

In [7]:
lst_num.count(10)

2

In [8]:
# Usamos a função type, para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [9]:
# Criando um novo tipo de objeto chamado Carro
class Carro(object):
    pass

In [10]:
# Instância do Carro
ferrari = Carro ()

In [11]:
print (type(ferrari))

<class '__main__.Carro'>

In [12]:
# Criando uma classe
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [14]:
# Criando um objeto chamado Estudantel a partir da classe Estudante
Estudantel1 = Estudantes ("Bob", 12, 9.5)

In [17]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudantel1.nome

'Bob'

In [18]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudantel1.idade

12

In [19]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudantel1.nota

9.5

In [44]:
# Criando uma classe
class Funcionarios:

    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo

    def listFunc(self):
        print("Funcionário(a) " + self.nome + " tem salário de R$" + str (self.salario) + " e o cargo é " + self.cargo)

In [45]:
# Criando um objeto chamado Funcl a partir da classe Funcionarios
Func1 = Funcionarios ("Mary", 2000, "Cientista de Dados")

In [46]:
# Usando o método da classe
Func1.listFunc()

Funcionário(a) Mary tem salário de R$2000 e o cargo é Cientista de Dados

In [47]:
print("**** Usando atributos *****")

**** Usando atributos *****

In [48]:
hasattr(Func1, "nome")

True

In [49]:
hasattr(Func1, "salario")

True

In [51]:
setattr(Func1, "salario", 4500)

In [52]:
delattr(Func1, "salario")

In [53]:
hasattr(Func1, "salario")

False

# Fim